#dial {
  position: relative;
  width: 360px;
  height: 300px;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  background: rgba(255, 0, 0, 0.53);
  z-index: 10000;
}
#dial input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}
.circle {
  position: absolute;
  left: 60px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #093b62;

  box-shadow: inset 0px 0px 30px rgba(249, 0, 0, 0.913);
  -webkit-box-shadow: inset 0px 0px 30px rgba(3, 230, 3, 0.3);

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.circle li {
  position: absolute;
  width: 50px;
  height: 40px;
  /* border-radius: 50%; */
  background: white;
  list-style: none;
  text-align: center;
  font: 20px/50px Helvetica, Arial, sans-serif;
}
.circle li:nth-child(1) {
  top: 240px;
  left: 90px;
}

.circle li:nth-child(2) {
  top: 185px;
  left: 22px;
  -webkit-transform: rotate(-100deg);
  -moz-transform: rotate(-100deg);
  -ms-transform: rotate(-100deg);
  -o-transform: rotate(-100deg);
  transform: rotate(-100deg);
}
#overlay-top,
#overlay-bottom {
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  width: 50px;
  height: 38px;
  z-index: 99;
}
#overlay-top {
  top: 0;
  border-top-width: 20px;
  border-left-width: 150px;
  border-right-width: 65px;
  border-bottom-width: 95px;
}
#overlay-bottom {
  bottom: 0px;
  border-top-width: 95px;
  border-left-width: 150px;
  border-right-width: 65px;
  border-bottom-width: 20px;
}
.onAnim {
  -webkit-transform: rotate(100deg);
  -moz-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  -o-transform: rotate(100deg);
  transform: rotate(100deg);
}
.offAnim {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
