/* set the default rotation, js sets this with .setProperty */
:root {
  --rotation-degree: -20deg;
  --left-right: 50%;
}

.a img,
.b img,
.c img,
.e img,
.f img {
  position: relative;
  transform-origin: center center;
  -webkit-animation: fly 0.5s ease forwards;
  animation: fly 0.5s ease forwards;
}
@-webkit-keyframes fly {
  0% {
    transform: rotate(var(--rotation-degree));
    left: var(--left-right);
    top: 200%;
  }
  100% {
    transform: rotate(0deg);
    left: 0;
    top: 0;
  }
}
@keyframes fly {
  0% {
    transform: rotate(var(--rotation-degree));
    left: var(--left-right);
    top: 200%;
  }
  100% {
    transform: rotate(0deg);
    left: 0;
    top: 0;
  }
}
