#dial {
  position: relative;
  width: 230px;
  height: 200px;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  z-index: 10000;
}
#dial input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}
.circle {
  position: absolute;
  left: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #093b62;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.circle li {
  position: absolute;
  width: 35px;
  height: 27px;
  /* border-radius: 50%; */
  background: white;
  list-style: none;
  text-align: center;
  font: 15px/26px Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.circle li:nth-child(1) {
  top: 152px;
  left: 60px;
}

.circle li:nth-child(2) {
  top: 120px;
  left: 22px;
  -webkit-transform: rotate(-100deg);
  -moz-transform: rotate(-100deg);
  -ms-transform: rotate(-100deg);
  -o-transform: rotate(-100deg);
  transform: rotate(-100deg);
}
#overlay-top,
#overlay-bottom {
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  left: 0px;
  width: 35px;
  height: 28px;
  z-index: 99;
}
#overlay-top {
  top: 0;
  border-top-width: 20px;
  border-left-width: 90px;
  border-right-width: 35px;
  border-bottom-width: 55px;
}
#overlay-bottom {
  bottom: 0px;
  border-top-width: 55px;
  border-left-width: 90px;
  border-right-width: 35px;
  border-bottom-width: 20px;
}
.onAnim {
  -webkit-transform: rotate(100deg);
  -moz-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  -o-transform: rotate(100deg);
  transform: rotate(100deg);
}
.offAnim {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.bar {
  background: red;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.am:before {
  content: "";
  background: red;
  margin-top: 10px;
  width: 6px;
  height: 150%;
  z-index: 100;
}
.am {
  background: green;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
.pm {
  background: blue;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
