body {
  height: 100vh;
  background: green;
  margin: 0;
}

.wrapper {
  margin: 0;
  height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1.3fr 1fr 0.7fr 1fr;
  grid-template-rows: 1fr 1.5fr 3fr;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: rgb(238, 238, 238);
  color: rgb(48, 48, 48);
  border-radius: 5px;
  /* padding: 20px; */
  font-size: 150%;
}

.a {
  grid-column: 1;
  grid-row: 1 / span 3;
  display: flex;
  justify-content: flex-end;
}
.b {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
}
.c {
  grid-column: 2 / span 2;
  grid-row: 3;
  display: flex;
  justify-content: center;
}
.d {
  grid-column: 3 / span 2;
  grid-row: 1;
}
.e {
  grid-column: 4;
  grid-row: 2 / span 2;
}
.f {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 1.3fr 1fr 0.7fr;
    grid-template-rows: 1fr 1.5fr 3fr;
  }

  .d {
    grid-column: 3;
    grid-row: 1;
  }
  .e {
    visibility: hidden;
    position: absolute;
    left: 100vw;
  }
}
@media only screen and (max-width: 700px) {
  .wrapper {
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr 1.5fr 3fr;
  }

  .e {
    visibility: hidden;
    position: absolute;
    left: 100vw;
  }
  .d {
    grid-column: 2 / span 2;
    grid-row: 1;
  }
  .f {
    grid-column: 2 / span 2;
    grid-row: 2;
  }
  .b {
    visibility: hidden;
    position: absolute;
    left: 100vw;
  }
}
@media only screen and (max-width: 550px) {
  .wrapper {
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    grid-template-rows: 3.5fr 1fr 1fr 5fr;
  }

  .e {
    visibility: hidden;
    position: absolute;
    left: 100vw;
  }
  .d {
    visibility: hidden;
    position: absolute;
    left: 100vw;
  }
  .b {
    visibility: hidden;
    position: absolute;
    left: 100vw;
  }

  .c {
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
  }

  .f {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    background-color: red;
  }
  .a {
    visibility: hidden;
    position: absolute;
    left: 100vw;
  }
}

.c img:first-child {
  margin: 0 auto;
  text-align: center;
}
.b img:first-child {
  margin: 0 auto;
  text-align: center;
}
/* The switch - the box around the slider */
.switcher {
  white-space: nowrap;
}
.onoff {
  margin: 10px;
  white-space: normal;
  display: inline-block;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(106, 106, 106);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* input:checked + .slider {
  background-color: #a9a9a9;
} */

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
